<div class="row justify-content-center">
    <div class="col-4">

    </div>
    <div class="col-4" >
        <div *ngIf="tag" style="margin: 0 auto;">
            <h3 class="card-title">Tag</h3>
            <div class="card text-center" style="width: 20rem;">
                <span style="font-size: 100px"><fa-icon [icon]="'tag'"></fa-icon></span>
                <div class="card-body">
                    <h5 class="card-title">{{ tag.name }}</h5>
                    <p class="card-text">Id: {{ tag.id }}</p>
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>
                    <button type="button"
                            [routerLink]="['/tag', tag.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">

    </div>
</div>
