<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activación</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Su cuenta de usuario ha sido creada.</strong> Por favor  </span>
                <a class="alert-link" (click)="login()">inicie sesión</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Su usuario no pudo ser activado.</strong> Por favor llene el formulario de registro para iniciar sesión.
            </div>

        </div>
    </div>
</div>